/* Global Styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar .logo {
  font-size: 1.5rem;
  margin-bottom: 40px;
}

.new-table-btn {
  padding: 10px;
  font-size: 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.theme-toggle button {
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.welcome {
  text-align: center;
}

.welcome h2 {
  margin: 20px 0;
}

.get-started-btn {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.task-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-top: 10px;
}

.edit-btn, .delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff; /* Blue for edit */
  color: white;
}

.delete-btn {
  background-color: #dc3545; /* Red for delete */
  color: white;
}

.task.low {
  background-color: #d4edda; /* Light green for low priority */
}

.task.medium {
  background-color: #fff3cd; /* Yellow for medium priority */
}

.task.high {
  background-color: #f8d7da; /* Orange for high priority */
}



/* Dark mode styles */
.dark .sidebar {
  background-color: #343a40;
  color: white;
}

.dark .content {
  background-color: #212529;
  color: whitesmoke;
}

.task-form-container {
  background-color: rgb(139, 135, 135);
  padding: 25px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 40px 0px 10px rgba(0, 0, 0, 0.1);
}

.task-form label {
  display: block;
  margin-bottom: 10px;
}

.task-form input,
.task-form textarea,
.task-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}
